################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rauf - Any/Rauf - Any/bin/Debug/netcoreapp3.1
/Rauf - Any/Rauf - Any/obj
/Rauf - Any/.vs/Rauf - Any/v16
